.App {
  text-align: center;
}

.container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 15px;
  padding-top: 30px;
  position: relative;
}

.usersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.post {
  width: 100%;
}

.userCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.searchBox {
  width: 100%;
  height: 40px;
  margin: 30px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.MuiButtonBase-root.MuiListItemButton-root {
  padding-top: 0px;
  padding-bottom: 0px;
}

.MuiCardActions-root {
  display: flex;
  justify-content: flex-end;
}

.container > .MuiContainer-root {
  margin-left: 0px;
  margin-right: 0px;
}

.tagsListContainer {
  position: sticky;
  top: 94px;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 20px;
}

.MuiCardActions-root > .MuiButtonBase-root.MuiFab-root.Mui-disabled.Badge {
  font-size: 13px;
  font-weight: 400;
  box-shadow: none;
  height: 25px;
  color: rgba(0, 0, 0, 0.54);
}

.MuiCardActions-root > .Badge {
  font-size: 13px;
  font-weight: 200;
  box-shadow: none;
  height: 25px;
}

.MuiTooltip-tooltip {
  font-size: 200;
}

.tagsList > .Badge {
  font-size: 13px;
  font-weight: 400;
  box-shadow: none;
}

.form {
  margin-top: 30px;
  width: 30%;
  padding: 10px;
}

.formFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
  width: 95%;
}

.formTitle {
  width: 100%;
  align-self: center;
  text-decoration: underline;
}

button.visibilityHidden {
  display: none;
}

a.visibilityHidden {
  display: none;
}

button.css-1bw9b9-MuiButtonBase-root-MuiFab-root {
  box-shadow: none;
  padding: 5px;
  border-radius: 20%;
  background-color: #f1ededcf;
  border: none;
  color: #dfd8d8cf;
}

.seachFriends-SearchBox-ButtonGroup {
  display: flex;
}

/* MineSweeper */

div.mineSweeper {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.board {
  /* border: 2.5px black solid; */
  /* width: 310px; */
}

div.row {
  display: flex;
  justify-content: flex-start;
}

:root {
  --element-size-small: 15px;
  --element-size-medium: 20px;
  --element-size-large: 25px;
}

button.cell {
  /* width: 15px;
  height: 15px;
  padding: 15px; */
  /* border: 1px solid black; */
  background-color: rgb(252, 205, 205);
  display: flex;
  justify-content: center;
  align-items: center;
}

button.cell {
  background-color: #c8e3ff;
  border: 1px solid rgb(0, 0, 0);
}

@media (max-width: 600px) {
  button.cell {
    width: var(--element-size-small);
    height: var(--element-size-small);
    padding: var(--element-size-small);
    font-size: 1rem;
  }
  .minsweeper-header button.MuiButtonBase-root {
    width: calc(6.9 * var(--element-size-small));
    border-radius: 0%;
    font-size: 1.5rem;
    letter-spacing: 1;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  button.cell {
    width: var(--element-size-medium);
    height: var(--element-size-medium);
    padding: var(--element-size-medium);
    font-size: 1rem;
  }
  .minsweeper-header button.MuiButtonBase-root {
    width: calc(6.9 * var(--element-size-medium));
    border-radius: 0%;
    font-size: 1.5rem;
    letter-spacing: 1;
  }
}

@media (min-width: 901px) {
  button.cell {
    width: var(--element-size-large);
    height: var(--element-size-large);
    padding: var(--element-size-large);
    font-size: 1rem;
  }
  .minsweeper-header button.MuiButtonBase-root {
    width: calc(6.9 * var(--element-size-large));
    border-radius: 0%;
    font-size: 1.5rem;
    letter-spacing: 1;
  }
}

/* dynamic styling */

.red {
  background-color: red;
}

.grey {
  background: lightgray;
}

.flag {
  background-color: blue;
}

tr.leaderboard-tableRow-currUser td {
  font-weight: bold;
}
